body {
  font-family: Arial, sans-serif;
  background-color: #f9fafb;
}

h1 {
  text-align: center;
  margin-top: 40px;
  color: #020617;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #020617;
}
